body{
  background-image: url(../Image/home-bg-img1.jpg);
}

.contact {
  padding: 5rem;
  
  /* background-color: grey; */
}
.gallery_container {
  padding: 5rem;
}
.gallery {
  float: left;
  width: 25%;
  height: auto;
}
.gallery img {
  width: 90%;
  height: auto;
}
.container-home{
  background-size: cover; 
  font-family: fantasy, 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.home-text{
  padding-top:50px;
  padding-left:30px;
  padding-right:30px;
  text-align: left;
}

.iframe-container{
  padding: 15px;
  border:transparent;
  display: none;
  text-align: center;

}

#button1 {
  background-color: #6c96af;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .button-container{
    padding-left:35rem;
    padding-bottom: 5rem;
  }