body{
  background-image: url(../Image/home-bg-img1.jpg);
}

.contact {
  padding: 5rem 2rem 3rem 2rem;
}
.row {
  padding: 3rem;
}

/* The grid: column */
.column {
  float: centre;
  flex:10%;
  max-width: 25%;
  padding:20px 4px;
}

/* image style */
.column img {
  opacity: 0.8;
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 1;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  display:flex;
  justify-content:center;
}

.container-home{
  padding: 2rem 2rem 3rem 2rem;
  background-size: cover; 
  font-family: fantasy, 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  text-align: left;  
}

.iframe-container{
  padding: 2rem 2rem 2rem 2rem;
  border:transparent;
  display: inline;
}

#button1 {
  background-color: #6c96af;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .button-container{
    display: flex; 
    justify-content: center;
  }
