/* body{
  padding-top:5rem;
} */
.contact {
    padding: 5rem;
    background-color: grey;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  

.gallery_container {
  padding: 5rem;
}
div.gallery {
  float: left;
  width: 25%;
  height: auto;
}
div.gallery img {
  width: 90%;
  height: auto;
}

